h2 The Amur Leopard
h3 rarest kitty in the world - too beautiful for its own good?

section.gallery
	- var n = 36;
	- for(var i = 0; i < n; i++) {
		input(id=`gallery__item--${i}` type='radio' name='gallery__items' checked=i?null:'true')
		label.gallery__item(for=`gallery__item--${i}`) gallery item #{i}
			img(src=`https://s3-us-west-2.amazonaws.com/s.cdpn.io/2017/17_05_a_amur_leopard_${i}.jpg` alt=`Amur leopard image ${i}`)
	- }

section.info
	input#show(type='checkbox')
	label(for='show') show info
	section.info__content
		p Amur leopards are relatively easy to distinguish from other leopard subscpecies because, in order to survive the long cold winter, they have a soft coat with long and thick hair. This gives them a fluffy and extremely aesthetically pleasing appearance - just look at them!
		p Their beauty has been both a curse and a blessing.
		p Their gorgeous coats have made them poached to such an extent that, ten years ago, only about 20 of them were still to be found in the wild.
		p At the same time, their charisma has made them popular in zoos or as vanity "pets" for rich people and had raised the interest in saving them from extinction.
		p For the past ten years however, their numbers have climbed slowly. There are about 50- 60 cats living in the wild today.